
/*Profile Pic CSS */

.profile-pic {
    max-width: 150px;
    max-height: 150px;
    display: block;
}
.file-upload {
    display: none !important;
}
.circle {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 128px;
    height: 128px;
    background: #ecf0f5;
    border: 8px solid rgba(162, 162, 162, 0.7);
    position: relative;
}
.circle:img {
    max-width: 100%;
    height: auto;
}
.p-image {
  position: absolute;
  top: 81px;
  left: 108px;
  font-size: 30px;
  color: #666666;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
  font-size: 1.2em;
}
.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}

/*Profile Picture CSS ENDS*/




.custom_error_msg, .custom_success_msg, .access_error_msg{
	text-align: center;
}
.box-roster.row {
	padding-top: 50px;
    display: flex;
}
.year_month {
    padding-bottom: 20px;
    padding-top: 10px;
}
.box-footer-right {
    padding-left: 3px;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #dfdef5;
}
span.select2.select2-container.select2-container--default {
    min-width: 125px;
}
span.select2.select2-container.select2-container--default.select2-container--below {
    min-width: 125px;
}
div#tblRosterVariation_wrapper {
    padding: 12px;
}
div#mapid, div#mapid2 {
    height: 300px;
}
select {
  text-align: center;
  text-align-last: center;
  /* webkit*/
  }
option {
text-align: left;
/* reset to left*/
}
.box-roster.row {
    width: auto;
}

.action_icons{
  padding: 0px 5px;
}

.large_modal_dialog{
  width: 90%;
}

.small_modal_dialog{
  width: 40%;
}

.fa-window-close:hover,.document_container input:hover, .room_check:hover, .print_qr:hover{
  cursor: pointer;
  color: red;
}
.display-time{
  margin-top: 4px;
}
.display-now-time{
  font-size: 12px !important;
  padding: 7px 10px !important;
  border-radius: 12px;
}
